.header__lang-link {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  transition: opacity linear .2s;
}

.header__lang-link:hover {
  cursor: pointer;
  opacity: 80%;
}

.header__lang-link:not(:last-child) {
  margin-right: 1.125rem;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 1.125rem;
  }
}
