.photo-grid {
  margin: 5.75rem 3rem 0;
}


@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 5.5rem 3.125% 0;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin: 4rem 1rem 0;
  }
}
