.footer__link {
  font-size: 1rem;
  line-height: 1.125;
  font-weight: 400;
  color: #fff;

  text-decoration: none;
  transition: opacity linear .2s;
}

.footer__link:not(:last-child) {
  margin-right: 1.125rem;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 622px) {
  .footer__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .footer__link {
    font-size: 1.5rem;
  }
}
