.lead__title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.04;
  color: #fff;

  text-align: center;
  width: 45rem;
  margin: 0 0 2rem;
}

@media screen and (max-width: 720px) {
  .lead__title {
    width: 93.75%;
    line-height: 1.1;
    font-size: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    width: 90%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
