.footer__copyright {
  font-size: 0.875rem;
  line-height: 1.15;
  font-weight: 400;
  color: #fff;

  margin: 0;
}

@media screen and (max-width: 622px) {
  .footer__copyright {
    margin-top: 3rem;
    line-height: 1;
  }
}
