/* Inter-Regular 400 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'),
  url('Inter-Regular.woff2') format('woff2'),
  url('Inter-Regular.woff') format('woff');
}

/* Inter-Bold 700 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'),
  url('Inter-Bold.woff2') format('woff2'),
  url('Inter-Bold.woff') format('woff');
}

/* Inter-Black 900 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local('Inter'),
  url('Inter-Black.woff2') format('woff2'),
  url('Inter-Black.woff') format('woff');
}
