.intro__text {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
  color: #fff;

  margin-top: 2.5rem;
  margin-bottom: 2.0625rem;
}

@media screen and (max-width: 425px) {
  .intro__text {
    margin-bottom: 2.125rem;
  }
}
