.intro {
  margin: 5.75rem 11.5625% 0;
  width: 43.125rem;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 5.75rem 4.6875% 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin: 5.5rem 3.125% 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
    margin: 4rem 1rem 0;
  }
}
