.cover__text {
  position: absolute;

  z-index: 3;
}

@media screen and (max-width: 1280px) {
  .cover__text {
    width: 35rem;
  }
}

@media screen and (max-width: 622px) {
  .cover__text {
    width: 90%;
  }
}
