.cover {
  margin: 5.75rem 3.75% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover:hover .cover__text {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 5.75rem 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 5.625rem;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 4.125rem;
  }
}
