.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  background-image: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: cover;

  position: relative;
  min-height: 740px;
}

.cover__overlay::after {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;
  background: #2a2c2f;

  z-index: 1;
  opacity: 30%;

  transition: opacity linear .2s;
}

.cover__overlay:hover::after {
  opacity: 80%;
}

@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 40rem;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    min-height: 30rem;
  }
}

@media (max-width: 425px) {
  .cover__overlay {
    min-height: 12.5rem;
  }
}
